* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

.bg {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.title{
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    justify-content: center ;
    margin-top: 50px;
    font-size: 3rem;
}

.editCooki{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aliceblue;
    color:  black;
    width: 50%;
    height: 125px;
    position: absolute;
    top: 40%;
    left: 25%;
    border: 1px solid white;
    margin: auto;
    font-size: x-large;
    box-shadow: 13px 12px 19px -7px #000000;
    -webkit-box-shadow: 13px 12px 19px -7px #000000;
    -moz-box-shadow: 13px 12px 19px -7px #000000;
    border-radius: 10px;
}

.switch{
    position: absolute;
    color: #000000;
    background-color: white ;
    width: 20%;
    height: 10%;
    top: 65%;
    left: 40%;
    font-size: x-large;
    border-radius: 10px;
}

@media (max-width: 601px ){
    .title{
        margin-top: 20%;
        text-align: center;
    }
    .editCooki{
        height: 30%;
        text-align: center;
        left: 50%;
        transform: translate(-50%);
    }
    .editCooki>p {
        margin-top: 20px;
    }

    .switch{
        width: 200px;
        margin-top: 70px;
        left: 50%;
        transform: translate(-50%);
    }

}
@media (max-width: 360px ){
    
    .title{
        height: 120px;
        text-align: center;
        margin-top: 40px;
    }

    .editCooki{
        width: 80%;
        align-items: center;
        left: 50%;
        transform: translate(-50%);
    }    

    .switch{
        left: 50%;
        transform: translate(-50%);
        margin-top: 70px;
    }
}